Repository davidagustin/todopractice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, lint-backend, frontend-test, backend-test, frontend-build, backend-build, docker-build, security-backend, security-frontend, performance-backend, performance-frontend

.gitlab-ci.yml:

stages:
  - lint
  - test
  - build
  - docker
  - security
  - performance

variables:
  DOCKER_DRIVER: overlay2
  NODE_ENV: test

# Lint Frontend
lint-frontend:
  stage: lint
  image: node:20
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
  rules:
    - changes:
        - frontend/**/*

# Lint Backend
lint-backend:
  stage: lint
  image: golang:1.24
  before_script:
    - cd backend
    - go mod download
    - go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
  script:
    - golangci-lint run --timeout=5m
  rules:
    - changes:
        - backend/**/*

# Test Frontend
frontend-test:
  stage: test
  image: node:20
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm test -- --coverage --watchAll=false --passWithNoTests
  artifacts:
    paths:
      - frontend/coverage
    expire_in: 1 week
  rules:
    - changes:
        - frontend/**/*

# Test Backend
backend-test:
  stage: test
  image: golang:1.24
  before_script:
    - cd backend
    - go mod download
  script:
    - go test ./... -v -cover
  rules:
    - changes:
        - backend/**/*

# Build Frontend
frontend-build:
  stage: build
  image: node:20
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run build
  artifacts:
    paths:
      - frontend/dist
    expire_in: 1 week
  rules:
    - changes:
        - frontend/**/*

# Build Backend
backend-build:
  stage: build
  image: golang:1.24
  before_script:
    - cd backend
    - go mod download
  script:
    - go build ./...
  rules:
    - changes:
        - backend/**/*

# Docker Build
docker-build:
  stage: docker
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    - docker info
  script:
    - docker build -t fullstack-todo-backend ./backend
    - docker build -t fullstack-todo-frontend ./frontend
  rules:
    - changes:
        - backend/**/*
        - frontend/**/*
        - docker-compose.yml
        - Dockerfile*

# Security Scan (Backend)
security-backend:
  stage: security
  image: golang:1.24
  before_script:
    - cd backend
    - go mod download
    - go install github.com/securego/gosec/v2/cmd/gosec@latest
  script:
    - gosec ./...
  rules:
    - changes:
        - backend/**/*

# Security Scan (Frontend)
security-frontend:
  stage: security
  image: node:20
  before_script:
    - cd frontend
    - npm ci
    - npm install --save-dev snyk
  script:
    - npx snyk test
  rules:
    - changes:
        - frontend/**/*

# Performance (Backend)
performance-backend:
  stage: performance
  image: golang:1.24
  before_script:
    - cd backend
    - go mod download
    - go install github.com/rakyll/hey@latest
  script:
    - hey -n 100 -c 10 http://localhost:8080/api/v1/todos || true
  allow_failure: true
  rules:
    - changes:
        - backend/**/*

# Performance (Frontend)
performance-frontend:
  stage: performance
  image: node:20
  before_script:
    - cd frontend
    - npm ci
    - npm install -g lighthouse
  script:
    - lighthouse http://localhost:5173 --output html --output-path=./lighthouse-report.html || true
  artifacts:
    paths:
      - frontend/lighthouse-report.html
    expire_in: 1 week
  allow_failure: true
  rules:
    - changes:
        - frontend/**/*

docs(readme): update test, lint, and troubleshooting info for stable frontend
  frontend/README.md
Due: lint-frontend, frontend-test, frontend-build, docker-build, security-frontend, performance-frontend

style(imports): fix import order across codebase using Biome
  frontend/src/App.tsx
  frontend/src/components/CreateTodoForm.tsx
  frontend/src/components/Dashboard.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/RegisterForm.tsx
  frontend/src/components/TodoList.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/test/setup.ts
  frontend/vite.config.ts
Due: lint-frontend, frontend-test, frontend-build, docker-build, security-frontend, performance-frontend

ci(backend): enforce golangci-lint in CI and add CI badge to README
  .github/workflows/ci.yml
  README.md
Due: none

fix(readme): remove .github/README.md to show main README on GitHub front page
  .github/README.md
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/components/CreateTodoForm.tsx
  frontend/src/components/Dashboard.tsx
  frontend/src/components/TodoList.tsx
Due: lint-frontend, frontend-test, frontend-build, docker-build, security-frontend, performance-frontend

feat(css): implement modern CSS best practices with logical properties, container queries, and improved accessibility
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/components/CreateTodoForm.tsx
  frontend/src/components/Dashboard.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/RegisterForm.tsx
  frontend/src/components/TodoList.tsx
  frontend/src/index.css
  frontend/src/styles/components.css
  frontend/src/styles/utilities.css
Due: lint-frontend, frontend-test, frontend-build, docker-build, security-frontend, performance-frontend

feat(ui/ux): implement modern UI/UX best practices with enhanced components, animations, and accessibility
  frontend/src/App.tsx
  frontend/src/components/Dashboard.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/RegisterForm.tsx
  frontend/src/components/TodoList.tsx
Due: lint-frontend, frontend-test, frontend-build, docker-build, security-frontend, performance-frontend

style(formatting): improve code formatting and import organization
  backend/cmd/server/main.go
  backend/config.yaml
  backend/internal/auth/handler.go
  backend/internal/auth/repository.go
  backend/internal/auth/service.go
  backend/internal/config/config.go
  backend/internal/database/database.go
  backend/internal/todo/handler.go
  backend/internal/todo/repository.go
  backend/internal/todo/service.go
  backend/pkg/middleware/auth.go
  backend/pkg/models/todo.go
  backend/pkg/models/user.go
  backend/pkg/utils/jwt.go
  backend/tests/integration/auth_integration_test.go
  backend/tests/unit/auth_service_test.go
  backend/tests/unit/config_test.go
  backend/tests/unit/jwt_test.go
  backend/tests/unit/models_test.go
  backend/tests/unit/todo_service_test.go
  docker-compose.yml
  frontend/src/components/Dashboard.tsx
  frontend/src/components/__tests__/LoginForm.test.tsx
Due: lint-frontend, lint-backend, frontend-test, backend-test, frontend-build, backend-build, docker-build, security-backend, security-frontend, performance-backend, performance-frontend

docs: update readmes, ci/cd, and e2e instructions for monorepo
  frontend/README.md
  frontend/cypress.config.ts
  frontend/cypress/e2e/auth.cy.ts
  frontend/cypress/support/e2e.js
Due: lint-frontend, frontend-test, frontend-build, docker-build, security-frontend, performance-frontend

fix: resolve frontend linter issues for CI
  README.md
  backend/README.md
  frontend/src/components/LoginForm.tsx
  frontend/src/components/TodoList.tsx
Due: lint-frontend, lint-backend, frontend-test, backend-test, frontend-build, backend-build, docker-build, security-backend, security-frontend, performance-backend, performance-frontend

fix(backend): pass all lint, style, and test checks for CI
  backend/cmd/server/main.go
  backend/internal/auth/handler.go
  backend/internal/auth/repository.go
  backend/internal/auth/service.go
  backend/internal/config/config.go
  backend/internal/todo/handler.go
  backend/internal/todo/repository.go
  backend/internal/todo/service.go
  backend/tests/integration/auth_integration_test.go
  backend/tests/unit/auth_service_test.go
  backend/tests/unit/config_test.go
  backend/tests/unit/todo_service_test.go
Due: lint-backend, backend-test, backend-build, docker-build, security-backend, performance-backend

fix(ci): add Lighthouse CI configuration for performance testing
  frontend/.lighthouserc.json
Due: lint-frontend, frontend-test, frontend-build, docker-build, security-frontend, performance-frontend

fix(ci): resolve security workflow configuration issues
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/security.yml
  frontend/src/components/__tests__/CreateTodoForm.test.tsx
  frontend/src/components/__tests__/Dashboard.test.tsx
  frontend/src/components/__tests__/LoginForm.test.tsx
Due: lint-frontend, frontend-test, frontend-build, docker-build, security-frontend, performance-frontend

fix(ci): resolve GitHub Actions errors
  frontend/src/components/__tests__/CreateTodoForm.test.tsx
  frontend/src/components/__tests__/LoginForm.test.tsx
Due: lint-frontend, frontend-test, frontend-build, docker-build, security-frontend, performance-frontend

fix(security): grant security-events: write permission for Trivy upload
  .github/workflows/security.yml
Due: none

fix(performance): resolve API performance test failures
  .github/workflows/performance.yml
Due: none

fix(security): add unique categories to Trivy SARIF uploads
  .github/workflows/security.yml
Due: none

fix: resolve frontend test issues and improve CI reliability
  .github/workflows/security.yml
  frontend/src/components/LoginForm.tsx
  frontend/src/components/__tests__/CreateTodoForm.test.tsx
  frontend/src/components/__tests__/LoginForm.test.tsx
Due: lint-frontend, frontend-test, frontend-build, docker-build, security-frontend, performance-frontend

fix(ci): resolve multiple workflow failures
  .github/workflows/performance.yml
  .github/workflows/security.yml
Due: none

fix(ci): resolve GitHub Actions failures
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  backend/cmd/server/main.go
  frontend/src/components/__tests__/CreateTodoForm.test.tsx
Due: lint-frontend, lint-backend, frontend-test, backend-test, frontend-build, backend-build, docker-build, security-backend, security-frontend, performance-backend, performance-frontend

fix(performance): resolve Lighthouse CI collection issues
  .github/workflows/performance.yml
Due: none

refactor: fix Go formatting and linting issues
  backend/.golangci.yml
  backend/cmd/server/main.go
  backend/internal/auth/handler.go
  backend/internal/config/config.go
  backend/internal/database/database.go
  backend/pkg/middleware/auth.go
  backend/tests/integration/auth_integration_test.go
  backend/tests/unit/config_test.go
Due: lint-backend, backend-test, backend-build, docker-build, security-backend, performance-backend

ci: disable performance.yml workflow
  .github/workflows/performance.yml
Due: none

fix: resolve E2E test failures in CI
  .github/workflows/ci.yml
  frontend/cypress.config.ts
  frontend/package.json
Due: lint-frontend, frontend-test, frontend-build, docker-build, security-frontend, performance-frontend

fix: resolve Docker workflow freezing issues
  .github/workflows/docker-build.yml
Due: none

fix: resolve CI backend job timeout issues
  .github/workflows/ci.yml
Due: none

fix: resolve CI backend job timeout and database connectivity issues
  .github/workflows/ci.yml
Due: none

fix: resolve E2E job database and process management issues
  .github/workflows/ci.yml
Due: none

Add Renovate configuration
  renovate.json
Due: none

Update Renovate: enable automerge and daily scans
  renovate.json
Due: none
